<footer>
    <div class="container">
        <div class="footerTop">
            <div class="row">
                <div class="d-none d-sm-block col-lg-9 col-xl-8">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                            <ul class="menu">
                                <li><a href="#" class="active">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Site Map</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                            <h5>Graphic Templates</h5>
                            <ul class="menu">
                                <li><a href="#">All Visiting Cards</a></li>
                                <li><a href="#">Single Side</a></li>
                                <li><a href="#">Double Side</a></li>
                                <li><a href="#">Premium Cards</a></li>
                                <li><a href="#">Folding Cards</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                            <h5>Social Media Templates</h5>
                            <ul class="menu">
                                <li><a href="#">Facebook Ads</a></li>
                                <li><a href="#">Instagram Ads</a></li>
                                <li><a href="#">Google Ads</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                            <h5>Video Templates</h5>
                            <ul class="menu">
                                <li><a href="#">All Videos</a></li>
                                <li><a href="#">Corporate Videos</a></li>
                                <li><a href="#">Infographic Videos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-4 footerTopRight">
                    <div class="row no-gutters justify-content-md-end footerRightCol">
                        <a href="#"><img src="assets/images/logo.png"></a>
                    </div>
                    <div class="row no-gutters justify-content-md-end footerRightCol">
                        <ul class="socialNav">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <p class="copyright">&copy; 2020 All Rights Reserved, Printing Warehouses of America</p>
        </div>
    </div>
</footer>
<a href="#top" class="scrolltotop btn btn-primary"><i class="icon-arrow-top"></i></a>