@import "bootstrap/functions";
@import "bootstrap/variables";
/*Header Start*/
header {
	.navbar {
		padding-top: 28px;
		.navbar-brand {
			padding-top: 0;
			padding-bottom: 0;
		}
		.navbar-nav {
			.nav-item {
				.nav-link {
					font-family: $hregular;
					font-size: 0.875rem;
					color: #fff;
					padding-left: 1.25rem;
					padding-right: 1.25rem;
				}
			}
		}
		.navbarRight {
			display: flex;
			align-items: center;
			padding-left: 2.75rem;
			.loginBtn {
				font-family: $hbold;
				font-size: 0.8125rem;
				color: #fff;
				text-transform: uppercase;
				border-radius: 0;
				border: none;
				padding: 0.5rem 2.1875rem;
			}
			.dropdownSearch {
				margin-left: 2rem;
				margin-right: 0.25rem;
				position: relative;
				&:after, &:before {
					width: 1px;
					height: 28px;
					background: #cbcbcb;
					position: absolute;
					content: "";
					top: 50%;
					margin-top: -14px;
				}
				&:after {
					left: 0;
				}
				&:before {
					right: 0;
				}
				.searchBtn {
					color: #fff;
					padding-top: 0;
					padding-bottom: 0;
					font-size: 1.0625rem;
					padding-left: 1.25rem;
					padding-right: 1.25rem;
					border: none;
				}
				.dropdown-menu {
					left: auto;
					right: 0;
					border-radius: 9px;
					border: 1px solid #ccd8ea;
					background: #fff;
					padding: 0;
					padding-right: 10px;
					margin-top: -0.5rem;
					display: block;
					z-index: -5;
					visibility: hidden;
					opacity: 0;
					&.show {
						margin-top: 0.75rem;
						visibility: visible;
						opacity: 1;
						z-index: 1;
					}
					.btn {
						font-size: 0.5625rem;
						font-family: $hbold;
						text-transform: uppercase;
						border-radius: 6px;
						padding: 5px 10px;
					}
					.form-control {
						width: 300px;
						background: none;
						border: none;
						font-family: $hregular;
						font-size: 0.875rem;
						color: #9ca3a8;
						height: 45px;
					}
				}
			}
			.dropdownCart {
				.cartBtn {
					font-size: 1.625rem;
					color: #fff;
					padding-top: 0;
					padding-bottom: 0;
					border: none;
					position: relative;
					span, i {
						vertical-align: middle;
					}
					span {
						margin-left: 7px;
						color: #adc0ff;
						position: absolute;
						right: 0;
						top: -4px;
						font-size: 1.125rem;
					}
				}
				.dropdown-menu {
					left: auto;
					right: 0;
				}
			}
		}
	}
	&.active {
		.navbar {
			background: $primary;
			box-shadow: 0 1px 5px rgba(0, 0, 0, .13);
			padding-top: 0.5rem;
		}
		.navbar-brand {
			img {
				max-width: 80px; 
			}
		}
	}
}
@media (min-width: 992px) {
	header {
		.navbar {
			.navbarLeft {
				order: 1;
			}
			.mainNavList {
				order: 2;
			}
			.navbarRight {
				order: 3;
			}
		}
	}
}
@media (max-width: 1199.98px) {
	header {
		.navbar {
			padding-top: 1rem;
			.navbar-nav {
				.nav-item {
					.nav-link {
						padding-left: 0.5rem;
						padding-right: 0.5rem;
					}
				}
			}
			.navbarRight {
				padding-left: 1.25rem;
				.dropdownSearch {
					margin-left: 1rem;
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	header {
		.navbar {
			.navbar-toggler {
				border: none;
				padding: 0;
				margin-right: 1rem;
			}
		}
	}
}
@media (max-width: 991.98px) {
	header {
		.navbar {
			#mainNav {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				width: 260px;
				left: -260px;
				background: $primary;
				height: 100% !important;
				transition: all 0.3s ease-in-out;
				.navbar-toggler {
					width: 46px;
					height: 46px;
					background: $primary;
					margin: 0;
					position: absolute;
					right: 0;
					top: 0;
					border-radius: 0;
					line-height: 46px;
					padding: 0;
					font-size: 1rem;
					opacity: 0;
					visibility: hidden;
					transition: all 0.3s ease-in-out;
				}
				&.show {
					left: 0;
					.navbar-toggler {
						opacity: 1;
						visibility: visible;
					}
				}
			}
			.navbar-nav {
				padding-top: 2.875rem;
				.nav-item {
					margin-bottom: 1px;
					.nav-link {
						padding: 0.375rem 1.25rem;
						&.active, &:hover {
							background: #393185;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 575.98px) {
	header {
		.navbar {
			.navbar-toggler {
				margin-right: 0.5rem;
			}
			.navbar-brand {
				margin-right: 0;
				img {
					max-width: 80px;
				}
			}
			.navbarRight {
				padding-left: 0;
				.loginBtn {
					background: none;
					padding: 0;
				}
				.dropdownSearch {
					.searchBtn {
						font-size: 0.875rem;
						padding-left: 1rem;
						padding-right: 1rem;
					}
					.dropdown-menu {
						position: fixed;
						top: 40px;
						left: 10px;
						right: 10px;
						&.show {
							top: 70px;
						}
					}
				}
				.dropdownCart {
					.cartBtn {
						font-size: 1.25rem;
						span {
							// font-size: 1.25rem;
							// margin-left: 2px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 359.98px) {
	header {
		.navbar {
			.navbar-toggler {
				margin-right: 0.25rem;
			}
			.navbar-brand {
				img {
					max-width: 70px;
				}
			}
			.navbarRight {
				.dropdownCart {
					.cartBtn {
						padding-right: 0;
						span {
							top: -12px;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 992px) {
	header {
		.navbar {
			.navbar-nav {
				.nav-item {
					position: relative;
					&.dropdown {
						.dropdown-toggle {
							&:after {
								display: none;
							}
						}
						.dropdown-menu {
							display: block;
							opacity: 0;
							visibility: hidden;
							border: none;
							border-radius: 0;
							margin-top: 0;
							box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
							li {
								a {
									font-family: $hregular;
									font-size: 0.875rem;
									color: #323232;
									padding: 0.375rem 1.25rem;
									&:hover {
										background: $primary;
										color: #fff;
									}
									&.dropdown-toggle {
										position: relative;
										&:before {
											position: absolute;
											font-family: "icomoon";
											content: "\e90e";
											display: block;
											width: 28px;
											height: 28px;
											text-align: center;
											line-height: 28px;
											right: 0;
											top: 50%;
											margin-top: -14px;
											font-size: 10px;
										}
									}
								}
							}
						}
					}
					.submenu{ 
						display: block;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						left:100%; 
						top:-8px;
						background: #fff;
					}
					&:hover > .submenu, &:hover > .dropdown-menu {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	header {
		.navbar {
			.navbar-nav {
				.nav-item {
					&.dropdown {
						.dropdown-toggle {
							position: relative;
							&:after {
								display: none;
							}
							&:before {
								position: absolute;
								font-family: "icomoon";
								content: "\e90e";
								display: block;
								width: 28px;
								height: 28px;
								text-align: center;
								line-height: 28px;
								right: 5px;
								top: 50%;
								margin-top: -14px;
								font-size: 10px;
							}
						}
						.dropdown-menu {
							padding: 0;
							border: none;
							border-radius: 0;
							margin-top: 0;
							background: none;
							.dropdown-item {
								font-family: $hregular;
								font-size: 0.875rem;
								color: #fff;
								padding: 0.375rem 1.25rem;
								&:hover, &:focus {
									background: #393185;
								}
								&.dropdown-toggle {
									position: relative;
									&:before {
										position: absolute;
										font-family: "icomoon";
										content: "\e90e";
										display: block;
										width: 28px;
										height: 28px;
										text-align: center;
										line-height: 28px;
										right: 5px;
										top: 50%;
										margin-top: -14px;
										font-size: 10px;
									}
								}
							}
							.submenu {
								padding-left: 10px;
							}
						}
					}
				}
			}
		}
	}
}
/*Header End*/