$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

@function icomoon($icon) {
  @return unquote("\"#{ $icon }\"");
}

$icon-caret-right: \e900;
$icon-cart: \e901;
$icon-facebook: \e902;
$icon-graphic: \e903;
$icon-instagram: \e904;
$icon-search: \e905;
$icon-social: \e906;
$icon-twitter: \e907;
$icon-video: \e908;
$icon-arrow-top: \e909;
$icon-close: \e90a;
$icon-account: \e90b;
$icon-library: \e90c;
$icon-edit: \e90d;
$icon-arrow-right: \e90e;
$icon-caret-down: \e90f;
$icon-delete: \e910;
$icon-email: \e911;
$icon-phone: \e912;
$icon-blood: \e913;
$icon-home: \e914;
$icon-user: \e915;
$icon-building: \e916;
$icon-switch-profile: \e917;
$icon-logout: \e918;
$icon-arrow-left: \e919;
$icon-anchor-left: \e91a;
$icon-anchor-right: \e91b;
$icon-arrow-bottom: \e91c;
$icon-check: \e91d;
$icon-filter: \e91e;
$icon-inr: \e91f;
$icon-calendar: \e920;
$icon-add-button: \e921;
$icon-fb: \e922;
$icon-insta: \e923;
$icon-lkd: \e924;
$icon-twt: \e925;
$icon-plane: \e926;
$icon-left-arrow: \e927; 
$icon-cancel: \e928;
$icon-plus: \e929;
$icon-greeting-card: \e92a;
$icon-letter-head: \e92b;
$icon-flyer: \e92c;
$icon-poster: \e92d;
$icon-business-card: \e92e;
$icon-badge: \e92f;
$icon-social-media: \e930;
$icon-blog: \e931;
$icon-promotion: \e932;
$icon-marketing: \e933;
$icon-seo: \e934;