
<style>
	.aboutpara {
  width: 1073px;
  height: 99px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #3e4143 !important;
}
.abouttext1 {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #393185;
  
}



</style>

<section class="templates" >
	<div class="templatesTitle container-fluid">
		<div class="templatesBg text-right" style="background-image: url('/assets/images/aboutbanner.PNG');">
			<div class="container">
				<h1>&nbsp;</h1><h1></h1>
				<ol class="breadcrumb justify-content-end">
					<li ><a href="/"></a></li>
					<li  aria-current="page"></li>
				</ol>
			</div>
		</div>
	</div>
	<div class="productList">
		<div class="container">
			
			<p class="aboutpara">Printing Warehouse of America is the one stop shop for all of your printing needs. We’ve done everything we can to make the process easy and affordable.

			</p>
		</div>
	</div>
</section>

<section class="homeCategory">
    <div class="container">
        <div class="row">
            <div class="col-md-4 colCategory">
				<img src="/assets/images/abouticon1.svg" style="float: left;">
				<!-- <i class="icon-graphic catIcon" style="float: left;"> 
				</i>-->
                <br><br><br><br><br>
                <h2 style="text-align: left;">Everything You Need</h2>
                <p style="font-size:18px; color: #3e4143; text-align: left;">Whether it’s business cards, postcards or signs we help you take your project to a whole new level of awesome! We offer have all the resources you need such as free templates, design services and customer support for any questions along the way.

				</p>
               
            </div>
            <div class="col-md-4 colCategory">
				<img src="/assets/images/abouticon2.svg" style="float: left;"><br><br><br><br><br>
                <h2  style="text-align: left;">Unmatched Quality</h2>
                <p style="font-size:18px; color: #3e4143; text-align: left;">We are meticulous about every print job that goes out our doors. We will alert you if there are any issues with your bleed, resolution, or other areas. Not every print shop cares this much, but we pride ourselves on going the extra mile to ensure your artwork or marketing materials print well.

				</p>
              
            </div>
            <div class="col-md-4 colCategory">
                <img src="/assets/images/abouticon3.svg" style="float: left;"><br><br><br><br><br>
                <h2 style="text-align: left;">Best Printing Services</h2>
                <p style="font-size:18px; color: #3e4143; text-align: left;">We’ve built our business by providing the best printing services possible and we don’t plan to change the way we’re doing things any time soon. If you’re looking for high-quality printed materials you can use to set your business apart from the crowd, we are happy to help.

				</p>
                
            </div>
        </div>
    </div>
</section>

<section class="uniqIdentity">
    <div class="container">
        <div class="row no-gutters align-items-center">
          
            <div class="col-md-12" style="height: 221px; align-content: center; background-image:url('/assets/images/aboutftr.svg');">
                
                    <h2 style="text-align: center; line-height: 221px;">Start designing your project now, and let’s get printing!

					</h2>
                  
               
            </div>
        </div>
    </div>
</section>

<section class="intro">
	<div id="homeCarousel" class="carousel slide carousel-fade homeCarousel" data-ride="carousel" style="background-color: #f8faff;"  style="background-color: f8faff;">
		<div class="carouselIndicators" style="background-color: #f8faff;">
		<div class="container">
			
			<ol class="carousel-indicators" style="margin-left:47%">
				<li data-target="#homeCarousel" style="background-color:#b8b6ca;" data-slide-to="0" class="active"></li>
				<li data-target="#homeCarousel" style="background-color:#b8b6ca;" data-slide-to="1"></li>
				<li data-target="#homeCarousel" style="background-color: #b8b6ca;" data-slide-to="2"></li>
			</ol>
		</div>
	  </div>
	  
	  <div class="carousel-inner" style="background-color: #f8faff;">
		<h3 style="text-align: center; background-color:#f8faff; color: #393185; font-size: 36px; margin-top: 50px;"><b>Testimonials</b></h3>
		<div class="carousel-item active" style="background-color: #f8faff;">
			
		  <img style="max-width: 163px; max-height: 163px; border-radius: 50%; margin: 0 auto; margin-top: -80px;" src="/assets/images/abtusr1.svg" class="d-none d-sm-block w-100" alt="...">
		  <img src="/assets/images/m-banner-1.jpg" class="d-sm-none w-100" alt="...">
		  <div class="carousel-caption">
			  <div class="container h-100">
				  <div class="row no-gutters h-100 align-items-center">
					  <div class="captionWrap"  style=" margin:0 auto;">
					
						  <p style="color: #3e4143; text-align: center; width: 602px;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
						<h5 style="color: #3e4143; text-align: center; font-weight: bold;">David Scott - Marketing Manager</h5>
					  </div>
				  </div>
			  </div>
		  </div>
		</div>
		<div class="carousel-item"  style="background-color: #f8faff;">
			<img style="max-width: 163px; max-height: 163px; border-radius: 50%; margin: 0 auto; margin-top: -80px;" src="/assets/images/abtusr1.svg" class="d-none d-sm-block w-100" alt="...">
		  <img src="/assets/images/m-banner-1.jpg" class="d-sm-none w-100" alt="...">
		  <div class="carousel-caption">
			  <div class="container h-100">
				  <div class="row no-gutters h-100 align-items-center">
					  <div class="captionWrap"  style=" margin:0 auto;">
					
						  <p style="color: #3e4143; text-align: center; width: 602px;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
						<h5 style="color: #3e4143; text-align: center; font-weight: bold;">Roger Scott - Marketing Manager</h5>
					  </div>
				  </div>
			  </div>
		  </div>
		</div>
		<div class="carousel-item" style="background-color: #f8faff;">
			<img style="max-width: 163px; max-height: 163px; border-radius: 50%; margin: 0 auto; margin-top: -80px;" src="/assets/images/abtusr1.svg" class="d-none d-sm-block w-100" alt="...">
		  <img src="/assets/images/m-banner-1.jpg" class="d-sm-none w-100" alt="...">
		  <div class="carousel-caption">
			  <div class="container h-100">
				  <div class="row no-gutters h-100 align-items-center">
					  <div class="captionWrap" style=" margin:0 auto;">
					
						  <p style="color: #3e4143; text-align: center; width: 602px;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
						<h5 style="color: #3e4143; text-align: center; font-weight: bold; margin: auto;">Tom Scott - Marketing Manager</h5>
					  </div>
				  </div>
			  </div>
		  </div>
		</div>
	  </div>
	</div>
</section>
