<section class="myAccounts">
    <div class="userDetailsRow pl-0 pr-0">
        <div class="container">
            <div class="row no-gutters justify-content-sm-between align-items-center">
                <div class="titleBreadcrumb">
                    <h3>Our Services</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Services</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ourServices">
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <!-- secOne Start -->
                <section id="secOne">
                    <div class="iconTitle">
                        <i class="icon-social-media"></i>
                        <div class="iconTitleWrap">

                            <h2>Social Media Marketing</h2>
                        </div>
                    </div>
                    <h5 class="h5">We provide specifically tailored content for your client across their social media platforms to keep them consistent, professional, and up to date.</h5>
                    <div class="row pt-3 pb-3">
                        <div class="col-md-4">
                            <img src="/assets/images/pricing-pic-01.png" class="img-fluid mb-4" alt="">
                        </div>
                        <div class="col-md-8">
                            <ul class="listCircle">
                                <li>We are able to do this by sending over a survey upon sign up. </li>
                                <li>This survey will help us better understand your clients business. </li>
                                <li>This survey will also capture any websites, competitors, dropbox's, or google drives that your client  may have.</li>
                                <li>We will research all these resources to come up with promotional, informative, and engaging posts specifically tailored to your clients business.</li>
                                <li>The promotional post will direct their audience to a website or link to make a purchase.</li>
                                <li>The informative posts will educate their audience on your product, service, or yourself.</li>
                                <li>The engaging will be a question or a poll in hopes that their audience will participate.</li>
                                <li>We will research all these resources to come up with promotional, informative, and engaging posts specifically tailored to your clients business.</li>
                            </ul>
                        </div>
                    </div>
                    <p>In our higher-level packages, like the 3 and 4, we incorporate brand awareness ads to either increase your clients followers on Facebook, or increase their engagement on Facebook or Instagram.</p>
                </section>
                <section id="secTwo">
                    <div class="title">
                        <h1>How much should I charge my clients?</h1>
                        <p>We've seen anywhere between a 100% to 200% uptick in pricing</p>
                    </div>
                    <div class="card-deck pricingCard">
                        
                        
                            <div class="card">
                                <div class="card-body">
                        
                                    <div>
                                        <h3>Level 1</h3>
                                        <h1>$198<span>/mo</span></h1>
                                        <h6></h6>
                                        <ul>
                                            
                                                <li>Facebook, LinkedIn &amp; Twitter posts five days/week</li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn" onclick="submitInterest(plan=1)">CHOOSE
                                        THIS
                                        PLAN</button>
                                </div>
                            </div>
                        
                        
                            <div class="card">
                                <div class="card-body">
                        
                                    <div>
                                        <h3>Level 1.5</h3>
                                        <h1>$198<span>/mo</span></h1>
                                        <h6>(special bundle, $249 value) Limited Time Special</h6>
                                        <ul>
                                            
                                                <li>Facebook, LinkedIn &amp; Twitter posts five days/week</li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn" onclick="submitInterest(plan=2)">CHOOSE
                                        THIS
                                        PLAN</button>
                                </div>
                            </div>
                        
                        
                            <div class="card selected">
                                <i class="icon-badge"></i>
                                <div class="card-body d-flex align-items-center justify-content-center">
                        
                                    <div>
                                        <h3>LinkedIn Pro</h3>
                                        <h1>$249<span>/mo</span></h1>
                                        <h6></h6>
                                        <ul>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn" onclick="submitInterest(plan=3)">CHOOSE
                                        THIS
                                        PLAN</button>
                                </div>
                            </div>
                        
                    </div>
                    <p><b>Build your presence on LinkedIn through custom prepared daily updates and weekly article posts. We’ll also work on building your connections to drive more visibility toward your account, and ultimately procure sales and other business opportunities.</b></p>
                    <p>For LinkedIn Marketing, we post 6 days a week on your feed, and we do a weekly "commentated article" which is an article from an already published source. We write a quick intro, paste some of the article, and provide a link back to the article along with tags. </p>
                </section>
                <!-- secTwo End -->
                <!-- secThree Start -->
                <section id="secThree">
                    <div class="bg-gray">
                        <div class="iconTitle">
                            <i class="icon-blog"></i>
                            <div class="iconTitleWrap">
                                <h2>Blogs</h2>
                            </div>
                        </div>
                        <p class="mb-5">You can also add on blogs to use as your article as well. <b class="text-big">We do SEO friendly, 400-600 word blogs on any topics for $89/ blog</b>. Doing this causes more people to connect with you, all you have to do is go in and accept the connections at least once a month, or once a week ideally.</p>
                        <div class="colTwo">
                            <div class="card-deck pricingCard">
                                
                                    
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="titleWrap">
                                    
                                                    <h3>Level 2</h3>
                                                    <h1>$298 <span>/mo</span></h1>
                                                    <h6></h6>
                                                    <ul>
                                                        
                                                            <li>Facebook, LinkedIn &amp; Twitter posts five days/week</li>
                                                        
                                                            <li>Content Review</li>
                                                        
                                                    </ul>
                                                </div>
                                            
                                                </div>
                                            
                                            <div class="card-footer">
                                                <button class="btn" onclick="submitInterest(plan=4)">CHOOSE
                                                    THIS
                                                    PLAN</button>
                                            </div>
                                        </div>
                                
                                    
                                        <div class="card selected">
                                            <i class="icon-badge"></i>
                                            <div class="card-body">
                                    
                                                    <h3>Level 2.5 A</h3>
                                                    <h1>$349 <span>/mo</span></h1>
                                                    <h6>(special bundle, $349 value)</h6>
                                                    <ul>
                                                        
                                                            <li>Facebook, LinkedIn &amp; Twitter posts five days/week</li>
                                                        
                                                            <li>Content Review</li>
                                                        
                                                    </ul>
                                                </div>
                                            
                                            
                                            <div class="card-footer">
                                                <button class="btn" onclick="submitInterest(plan=5)">CHOOSE
                                                    THIS
                                                    PLAN</button>
                                            </div>
                                        </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
                <!-- secThree End -->
                <!-- secFour Start -->
                <section id="secFour">
                    <div class="iconTitle">
                        <i class="icon-promotion"></i>
                        <div class="iconTitleWrap">
                            <h2>Posting + Paid Promotions</h2>
                        </div>
                    </div>
                    <div class="card-deck pricingCard">
                        
                            
                                <div class="card">
                            
                                    <div class="card-body">
                                    <h3>Social Media Level 2.5B</h3>
                                    <h1>$349 <span>/mo</span></h1>
                                    <h6>+ Ad Spend ($150/month)</h6>
                                    <ul>
                                        
                                            <li>Facebook, LinkedIn, Instagram &amp; Twitter posts 5 days/week</li>
                                        
                                            <li>Ads Light on Facebook or Instagram</li>
                                        
                                            <li>Option 1: Promoting a post/week to your targeted audience for increased engagement</li>
                                        
                                            <li>Option 2: Promoting your page with a call to action to drive more followers (not available on Instagram)</li>
                                        
                                            <li>Option 3: Changing ad campaign for a daily re-post into Story (FB or IG)</li>
                                        
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <button class="btn" onclick="submitInterest(plan=6)">CHOOSE
                                        THIS
                                        PLAN</button>
                                </div>
                            </div>
                        
                            
                                <div class="card">
                            
                                    <div class="card-body">
                                    <h3>Social Media Level 2.5B</h3>
                                    <h1>$398 <span>/mo</span></h1>
                                    <h6>+ Ad Spend ($150/month) If you select ads option</h6>
                                    <ul>
                                        
                                            <li>Content Review</li>
                                        
                                            <li>Facebook, LinkedIn, Instagram &amp; Twitter posts 5 days/week</li>
                                        
                                            <li>Option 1: Promoting a post/week to your targeted audience for increased engagement</li>
                                        
                                            <li>Ads Light on Facebook OR Stories on Facebook OR Instagram 5 days/week</li>
                                        
                                            <li>Option 2: Stories on Facebook OR Instagram 5 days/week</li>
                                        
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <button class="btn" onclick="submitInterest(plan=7)">CHOOSE
                                        THIS
                                        PLAN</button>
                                </div>
                            </div>
                        
                            
                                <div class="card selected">
                                    <i class="icon-badge"></i>
                            
                                    <div class="card-body">
                                    <h3>Social Media Level 4</h3>
                                    <h1>$498 <span>/mo</span></h1>
                                    <h6>+ Ad Spend ($150 for FB/month)</h6>
                                    <ul>
                                        
                                            <li>Content Review</li>
                                        
                                            <li>Facebook, LinkedIn, Instagram &amp; Twitter posts 5 days/week</li>
                                        
                                            <li>Option 2: Promoting your page with a call to action to drive more followers (not available on Instagram)</li>
                                        
                                            <li>Option 2: Stories on Facebook OR Instagram 5 days/week</li>
                                        
                                            <li>2x/month conference calls with your social media marketing manager</li>
                                        
                                            <li>Choice of Ads Light for Facebook</li>
                                        
                                            <li>2 White Labeled Strategy Calls/Month</li>
                                        
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <button class="btn" onclick="submitInterest(plan=8)">CHOOSE
                                        THIS
                                        PLAN</button>
                                </div>
                            </div>
                        
                    </div>
                </section>
                <!-- secFour End -->
                <!-- secFive Start -->
                <section id="secFive">
                    <div class="bg-gray">
                        <div class="iconTitle">
                            <i class="icon-marketing"></i>
                            <div class="iconTitleWrap">
                                <h2>Conversion Marketing - Delivers Leads & Traffic </h2>
                            </div>
                        </div>
                        <p class="mb-5">Daily Posting Not Included In Conversion Packages. Purchasing a posting package with us is highly recommended to create consistency for your potential clients. Conversion marketing is accepted or denied after ad specialist analysis of business inquiry. A zapier membership is recommended for lead capture delivery.</p>
                        <div class="colTwo">
                            <div class="card-deck pricingCard">
                                
                                    
                                        <div class="card">
                                    
                                            <div class="card-body">
                                            <h3>Small Business Package</h3>
                                            <h1>$698 <span>/mo</span></h1>
                                            <h6>+ $500 Set Up Fee + Ad Spend ($500-$2,000/month)</h6>
                                            <ul>
                                                
                                                    <li>Facebook or Instagram</li>
                                                
                                                    <li>Tracking &amp; Analytics</li>
                                                
                                                    <li>Ad Creative &amp; Messaging Development</li>
                                                
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <button class="btn" onclick="submitInterest(plan=9)">CHOOSE
                                                THIS
                                                PLAN</button>
                                        </div>
                                    </div>
                                
                                    
                                        <div class="card selected">
                                            <i class="icon-badge"></i>
                                    
                                            <div class="card-body">
                                            <h3>Aggressive Growth &amp; Reach</h3>
                                            <h1>$1398 <span>/mo</span></h1>
                                            <h6>+ $500 Set Up Fee + Ad Spend ($1,000-$5,000/month)</h6>
                                            <ul>
                                                
                                                    <li>Facebook or Instagram</li>
                                                
                                                    <li>Tracking &amp; Analytics</li>
                                                
                                                    <li>Ad Variation</li>
                                                
                                                    <li>Re-Targeting</li>
                                                
                                                    <li>A/B Split Testing</li>
                                                
                                                    <li>Up To 5 Initiatives</li>
                                                
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <button class="btn" onclick="submitInterest(plan=10)">CHOOSE
                                                THIS
                                                PLAN</button>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                        
                            <div class="listStyleOne">
                                <h2>Additional Services</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul>
                                            
                                                <li>1 minute video for $198</li>
                                            
                                                <li>1 to 2 minute video for $249</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            
                                                <li>20 photos for $398</li>
                                            
                                                <li>40 photos for $598</li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </section>
                <!-- secFive End -->
                <!-- secSix Start -->
                <section id="secSix">
                    <div class="iconTitle">
                        <i class="icon-seo"></i>
                        <div class="iconTitleWrap">
                            <h2>SEO</h2>
                        </div>
                    </div>
                    <p class="mb-5">Below you will find the range of our SEO services. We believe every local business will benefit from an optimized Google presence, it is our goal to lend a helping hand at affordable prices</p>
                    
                        <div class="card-deck pricingCard gridGray">
                            
                                <div class="card">
                                
                                    <div class="card-body">
                                        <h3>Level 1 SEO</h3>
                                        <h1>$198 <span>/mo</span></h1>
                                        <h6></h6>
                                        <ul>
                                            
                                                <li>Google My Business &amp; Google Maps Listing creation &amp;/or optimization</li>
                                            
                                                <li>Google My Business posts 1x per week</li>
                                            
                                        </ul>
                                        <p class="text-left"></p>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn" onclick="submitInterest(plan=11)">CHOOSE
                                            THIS
                                            PLAN</button>
                                    </div>
                                </div>
                            
                                <div class="card">
                                
                                    <div class="card-body">
                                        <h3>Level 2 SEO</h3>
                                        <h1>$298 <span>/mo</span></h1>
                                        <h6></h6>
                                        <ul>
                                            
                                                <li>Google My Business &amp; Google Maps Listing creation &amp;/or optimization</li>
                                            
                                                <li>Google My Business posting 3x per week</li>
                                            
                                                <li>500-600 word SEO Optimized Blog Article - 1x per month</li>
                                            
                                        </ul>
                                        <p class="text-left"></p>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn" onclick="submitInterest(plan=12)">CHOOSE
                                            THIS
                                            PLAN</button>
                                    </div>
                                </div>
                            
                        </div>
                    
                        <div class="card-deck pricingCard gridGray">
                            
                                <div class="card">
                                
                                    <div class="card-body">
                                        <h3>Level 3 SEO</h3>
                                        <h1>$398 <span>/mo</span></h1>
                                        <h6></h6>
                                        <ul>
                                            
                                                <li>Google My Business &amp; Google Maps Listing creation &amp;/or optimization</li>
                                            
                                                <li>500-600 word SEO Optimized Blog Article - 1x per month</li>
                                            
                                                <li>Google My Business posting 5x per week</li>
                                            
                                                <li>Syndication of your brand to 100&#x27;s of search engines, directories, maps, and more</li>
                                            
                                                <li>GPS and navigation citation database listing management</li>
                                            
                                                <li>Daily optimization</li>
                                            
                                                <li>Full access to monthly reporting</li>
                                            
                                        </ul>
                                        <p class="text-left"></p>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn" onclick="submitInterest(plan=13)">CHOOSE
                                            THIS
                                            PLAN</button>
                                    </div>
                                </div>
                            
                                <div class="card">
                                
                                    <i class="icon-badge"></i>
                                
                                    <div class="card-body">
                                        <h3>Level 4 SEO</h3>
                                        <h1>$498 <span>/mo</span></h1>
                                        <h6></h6>
                                        <ul>
                                            
                                                <li>Google My Business &amp; Google Maps Listing creation &amp;/or optimization</li>
                                            
                                                <li>Google My Business posting 3x per week</li>
                                            
                                                <li>500-600 word SEO Optimized Blog Article - 1x per month</li>
                                            
                                                <li>Syndication of your brand to 100&#x27;s of search engines, directories, maps, and more</li>
                                            
                                                <li>GPS and navigation citation database listing management</li>
                                            
                                                <li>Daily optimization</li>
                                            
                                                <li>Full access to monthly reporting</li>
                                            
                                                <li>Daily review alerts</li>
                                            
                                                <li>Month 1: On-Site SEO for your website</li>
                                            
                                                <li>Month 2 and beyond - Google Ads
Targeting 10 keyword themes, optimized weekly</li>
                                            
                                                <li>Minimum $100/mo. Ad spend</li>
                                            
                                                <li>Maximum $900/mo. Ad spend</li>
                                            
                                        </ul>
                                        <p class="text-left">*Ad spend not included</p>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn" onclick="submitInterest(plan=14)">CHOOSE
                                            THIS
                                            PLAN</button>
                                    </div>
                                </div>
                            
                        </div>
                    
                </section>
                <!-- secSix End -->
            </div>
            <div class="col-auto sidebarCol">
                <div class="sidebarItem">
                    <div id="navSlider" class="stickySidebar sticky-top">
                        <ul class="slideTabs list-unstyled">
                            <li class="nav-item">
                                <a class="scrolltop nav-link" href="#secOne"><span>Social Media</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="scrolltop nav-link" href="#secTwo"><span>Charges</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="scrolltop nav-link" href="#secThree"><span>Blogs</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="scrolltop nav-link" href="#secFour"><span>Posting</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="scrolltop nav-link" href="#secFive"><span>Conversion Marketing</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="scrolltop nav-link" href="#secSix"><span>SEO</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
