<section class="templates">
    <div class="titleNav d-none d-md-block">
        <div class="container">
            <div class="row no-gutters justify-content-between align-items-md-center titleNavRow">
                <div class="titleNavLeft">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">Visiting Cards</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Posters</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Flyers</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Letter Head</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Greeting Cards</a>
                        </li>
                    </ul>
                </div>
                <ul class="controlNav">
                    <li><a href="#"><i class="icon-anchor-left"></i></a></li>
                    <li><a href="#"><i class="icon-anchor-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="productList">
        <div class="container">
            <div class="productFilter d-none d-md-flex">
                <ul class="productFilterTab nav nav-tabs">
                    <li class="nav-item"><a href="#" class="nav-link">Corona</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Christmas</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Corporate</a></li>
                </ul>
                <div class="productFilterForm">
                    <form class="form-inline">
                        <div class="form-group selectArrow w-145">
                            <select class="form-control">
                                <option>Catrgories</option>
                                <option>Catrgory 1</option>
                                <option>Catrgory 2</option>
                                <option>Catrgory 3</option>
                                <option>Catrgory 4</option>
                            </select>
                        </div>
                        <div class="form-group selectArrow w-127">
                            <select class="form-control">
                                <option>Colors</option>
                                <option>Color 1</option>
                                <option>Color 2</option>
                                <option>Color 3</option>
                                <option>Color 4</option>
                            </select>
                        </div>
                        <!-- <div class="form-group search w-255">
									<input type="text" class="form-control" placeholder="Search">
								</div> -->
                    </form>
                </div>
            </div>
            <div class="productRow row">
                <div class="col-sm-3 col-md-4 col-lg-3 productCol" *ngFor="let grocery of product">
                    <app-item-list [productData] = "grocery"></app-item-list>
                </div>
         
       
            
            </div>

        </div>
    </div>
</section>